body {
  font-family: 'Montserrat', sans-serif;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cover-heading {
  font-size: 70px;
}
.fade-in {
  opacity: 0;
  visibility: hidden;
}
.uppercase {
  text-transform: uppercase;
}
#enter-site, #enter-site:hover, #enter-site:focus {
  border-color: #152C52;
  border-width: 4px;
  border-style: solid;
  background-color: transparent;
  margin-top: 25px;
}
#enter-site:hover, #enter-site:focus {
  background-color: rgba(255, 255, 255, 0.5);
}